<html >
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
<link href="https://code.ionicframework.com/1.0.0-beta.9/css/ionic.min.css" rel="stylesheet">
  <script src="https://code.ionicframework.com/1.0.0-beta.9/js/ionic.bundle.min.js"></script>
  
  <link href="https://cdn.jsdelivr.net/npm/remixicon@3.7.0/fonts/remixicon.css" rel="stylesheet"/>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>

  
  <style>   
.card{
  font-family: 'Nunito', sans-serif;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
      transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  padding: 14px 80px 18px 36px;
  cursor: pointer;
  height: 120px;
  align-items: center; 
   display: flex; 
  text-decoration: none; 
}

.card:hover{
     transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.list .card h3{
  font-weight: 600;
  font-size: 1.7rem;
  
}

.card img{
  position: absolute;
  top: 20px;
  right: 15px;
  max-height: 120px;
}

.card-1{
  background-image: url(https://ionicframework.com/img/getting-started/ionic-native-card.png);
      background-repeat: no-repeat;
    background-position: right;
    background-size: 80px;
}

.card-2{
   background-image: url(https://ionicframework.com/img/getting-started/components-card.png);
      background-repeat: no-repeat;
    background-position: right;
    background-size: 80px;
}

.card-3{
   background-image: url(https://ionicframework.com/img/getting-started/theming-card.png);
      background-repeat: no-repeat;
    background-position: right;
    background-size: 80px;
}

@media(max-width: 990px){
  .card{
    margin: 20px;
  }
} 




 .iframe-container {
            position: relative;
            overflow: hidden;
            max-width: 100%;
            height: 500px;
        }

        /* Estilo para hacer el iframe responsivo */
        .iframe-container iframe {
            width: 100%;
            height: 100%;
            border: 0;
        }
  </style>
  
<body ng-app="ionicApp">
  <div ng-controller="AppCtrl">

  <ion-nav-bar class="nav-title-slide-ios7 bar-positive" >
    <ion-nav-back-button class="button-icon ion-arrow-left-c">
    </ion-nav-back-button>
  </ion-nav-bar>

  <ion-nav-view animation="slide-right"></ion-nav-view>

    
  <script id="menu.html" type="text/ng-template">
    <ion-side-menus>

      <ion-side-menu side="right">
        <ion-header-bar class="bar-positive">
          <h1 class="title">Menu</h1>
        </ion-header-bar>
        <ion-content>
          <ul class="list">
            <a href="#/menu/tab/record" class="item" menu-toggle="right">Inicio</a>
            <a href="#/menu/lessons" class="item" menu-toggle="right">Lecciones</a>
            <a href="#/menu/resources" class="item" menu-toggle="right">Recursos</a>
             <a href="#/menu/social-feed" class="item" menu-toggle="right">Social feed</a>
             <a href="#/menu/about" class="item" menu-toggle="right">Lineamientos</a>
          </ul>
        </ion-content>
      </ion-side-menu>

      <ion-side-menu-content>        
        <ion-nav-view name="menuContent"></ion-nav-view>
      </ion-side-menu-content>

    </ion-side-menus>
  </script>    
    
  <script id="tabs.html" type="text/ng-template">
    <ion-nav-bar class="bar-positive" >
                <ion-nav-back-button class="button-icon ion-arrow-left-c">
        </ion-nav-back-button>
        <ion-nav-buttons side="right">
          <button class="button button-icon button-clear ion-navicon" ng-click="toggleRight()"></button>
        </ion-nav-buttons>      
    </ion-nav-bar>
        

    <ion-tabs class="tabs-icon-top tabs-positive"  >

      <ion-tab title="Comunidad" icon="ion-ios7-people" href="#/menu/tab/comunity">
        <ion-nav-view name="comunity-tab"></ion-nav-view>
      </ion-tab>

      <ion-tab  icon="ion-mic-a" href="#/menu/tab/record" >
        <ion-nav-view name="record-tab"></ion-nav-view>
      </ion-tab>

      <ion-tab title="Perfil" icon="ion-ios7-contact" href="#/menu/tab/profile">
        <ion-nav-view name="profile-tab"></ion-nav-view>
      </ion-tab>
    

    </ion-tabs>
  </script>

  <script id="comunity.html" type="text/ng-template">
    <ion-view title="Comunidad">
      <ion-content class="padding">
       
    
      </ion-content>
    </ion-view>
  </script>

  <script id="record.html" type="text/ng-template">
    <ion-view title="Entrega de actividad">
      <ion-content class="padding">
       
         
   Entrega de actividad
    
      </ion-content>
    </ion-view>
  </script>
    
    <script id="profile.html" type="text/ng-template">
    <ion-view title="Perfil">
      <ion-content class="padding">
       
         
   Perfil2
    
      </ion-content>
    </ion-view>
  </script>

 


  <script id="lessons.html" type="text/ng-template">
    <ion-view title="Actividades">

      <ion-nav-bar class="bar-positive">
        <ion-nav-buttons side="right">
          <button class="button button-icon button-clear ion-navicon" ng-click="toggleRight()"></button>
        </ion-nav-buttons>      
    </ion-nav-bar>

     <ion-content>
       
    <div ng-if=news.length>
            <a class="item" ng-repeat="n in news" ng-click="onSelectNews(n)" >{{n.name}} </a>
          </div>

      </ion-content>

    </ion-view>
  </script>   
    
   

    
    <script id="detail.html" type="text/ng-template">
      <ion-nav-bar class="bar-positive">
         <ion-nav-back-button class="button-icon ion-arrow-left-c">
        </ion-nav-back-button>
        <ion-nav-buttons side="right">
          <button class="button button-icon button-clear ion-navicon" ng-click="toggleRight()"></button>
        </ion-nav-buttons>      
    </ion-nav-bar>
    <ion-view title=" Title">
      <ion-view title="News">
        <ion-content>
      
            {{news.name}}
       
        </ion-content>
      </ion-view>
    </script>
    

    


   <script id="resources.html" type="text/ng-template">
    <ion-view title="Recursos didácticos">

      <ion-nav-bar class="bar-positive">
        <ion-nav-buttons side="right">
          <button class="button button-icon button-clear ion-navicon" ng-click="toggleRight()"></button>
        </ion-nav-buttons>      
    </ion-nav-bar>


     <ion-content>
       
    <div class="list">
          <div class="item item-divider">
            Static list
          </div>  
          
          <a class="item item-icon-left" href="#/menu/nivelprincipiante">
            <i class="icon ion-email"></i>
            Nivel principiante
          </a>

          <a class="item item-icon-left item-icon-right" href="#/menu/nivelintermedio">
            <i class="icon ion-chatbubble-working"></i>
            Nivel intermedio
            <i class="icon ion-ios7-telephone-outline"></i>
          </a>
    </div> 
     
      </ion-content>
      
     
    </ion-view>
  </script>   
    
    
    
    <script id="nivelprincipiante.html" type="text/ng-template">
      <ion-nav-bar >
         <ion-nav-back-button class="button-icon ion-arrow-left-c">
        </ion-nav-back-button>  
    </ion-nav-bar>
    <ion-view > 
      <ion-content class="padding">
        
        <h2>Nivel Principiante</h2>
       
      </ion-content>
    </ion-view>
  </script>
    
    
    
     <script id="nivelintermedio.html" type="text/ng-template">
       <ion-nav-bar >
         <ion-nav-back-button class="button-icon ion-arrow-left-c">
        </ion-nav-back-button>  
    </ion-nav-bar>
    <ion-view >
      <ion-content class="padding">
        
        <h2>Nivel Intermedio</h2>
       
      </ion-content>
    </ion-view>
  </script>
    
    
    
     <script id="nivelavanzado.html" type="text/ng-template">
       <ion-nav-bar >
         <ion-nav-back-button class="button-icon ion-arrow-left-c">
        </ion-nav-back-button>  
    </ion-nav-bar>
    <ion-view >
      <ion-content class="padding">
        
        <h2>Nivel Avanzado</h2>
       
      </ion-content>
    </ion-view>
  </script>




  <script id="social-feed.html" type="text/ng-template">
    <ion-view title="Social Feed">

      <ion-nav-bar class="bar-positive">
        <ion-nav-buttons side="right">
          <button class="button button-icon button-clear ion-navicon" ng-click="toggleRight()"></button>
        </ion-nav-buttons>      
    </ion-nav-bar>


     <ion-content>
       
     <div class="list">
        
             <a class="card card-3" href="#/menu/nivelprincipiante">
          <h3>Nivel Principiante</h3>
          </a>
        
    
    <a class="card card-1" href="#/menu/nivelintermedio">
            <h3>Nivel Intermedio</h3>
          </a>
    
     <a class="card card-2" href="#/menu/nivelavanzado">
            <h3>Nivel Avanzado</h3>
          </a>

    </div> 

      </ion-content>
      
     
    </ion-view>
  </script>   



<script id="about.html" type="text/ng-template">
    <ion-view title="Lineamientos">

      <ion-nav-bar class="bar-positive">
        <ion-nav-buttons side="right">
          <button class="button button-icon button-clear ion-navicon" ng-click="toggleRight()"></button>
        </ion-nav-buttons>      
    </ion-nav-bar>


     <ion-content>
       
  <div class="iframe-container"><iframe src="https://instagram.com/p/CyWOlFkpFfh/embed/" frameborder="0" allowfullscreen></iframe></div>

      </ion-content>
      
     
    </ion-view>
  </script>   




    
    
    





  <script id="modal.html" type="text/ng-template">
    <div class="modal">
      <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">Modal</h1>
        <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
      </ion-header-bar>
      
      <ion-content class="padding">
        <div class="list">
          <label class="item item-input">
            <span class="input-label">To</span>
            <input type="text">
          </label>
          <label class="item item-input">
            <span class="input-label">Message</span>
            <textarea rows="4"></textarea>
          </label>
        </div>
        <button class="button icon icon-right ion-arrow-right-c button-balanced button-block">Send</button>
      </ion-content>
    </div>
  </script>  
  </div>
</body>


  <script>
angular.module('ionicApp', ['ionic'])

.config(function ($stateProvider, $urlRouterProvider) {

  $stateProvider
    .state('menu', {
      url: "/menu",
      abstract: true,
      templateUrl: "menu.html",
      controller: 'MenuCtrl'
    })
    .state('menu.tabs', {
      url: "/tab",
      views: {
        'menuContent' :{
          templateUrl: "tabs.html"
        }
      }
    })
    .state('menu.tabs.comunity', {
      url: "/comunity",
      views: {
        'comunity-tab': {
          templateUrl: "comunity.html"
        }
      }
    })
    .state('menu.tabs.record', {
      url: "/record",
      views: {
        'record-tab': {
          templateUrl: "record.html"
        }
      }
    })
  .state('menu.tabs.profile', {
      url: "/profile",
      views: {
        'profile-tab': {
          templateUrl: "profile.html"
        }
      }
    })


    .state('menu.lessons', {
      url: "/lessons",
      views: {
        'menuContent': {
          templateUrl: "lessons.html",
          controller: 'NewsListController'
        }
      }
    }) 

  .state('menu.detail', {
      url: "/detail/:id",
      views: {
        'menuContent': {
          templateUrl: "detail.html",
      controller: 'NewsDetailController'
        }
      }
    })
    .state('menu.resources', {
      url: "/resources",
      views: {
        'menuContent': {
          templateUrl: "resources.html"
        }
      }
    })
   .state('menu.nivelprincipiante', {
      url: "/nivelprincipiante",
      views: {
        'menuContent': {
          templateUrl: "nivelprincipiante.html"
        }
      }
    })
  .state('menu.nivelintermedio', {
      url: "/nivelintermedio",
      views: {
        'menuContent': {
          templateUrl: "nivelintermedio.html"
        }
      }
    })
  .state('menu.nivelavanzado', {
      url: "/nivelavanzado",
      views: {
        'menuContent': {
          templateUrl: "nivelavanzado.html"
        }
      }
    })
    .state('menu.social-feed', {
      url: "/social-feed",
      views: {
        'menuContent': {
          templateUrl: "social-feed.html"
        }
      }
    })
    .state('menu.about', {
      url: "/about",
      views: {
        'menuContent': {
          templateUrl: "about.html"
        }
      }
    })
    ;

  $urlRouterProvider.otherwise("menu/tab/record");

})

.controller('ListCtrl', function ($scope) {

  $scope.data = {
    showDelete: false
  };

  $scope.itemButtons = [
    {
      text: 'Delete',
      type: 'button-assertive',
      onTap: function (item) {
        alert('Delete Item: ' + item.id + ' ?');
      }
    }
  ];

  $scope.onItemDelete = function (item) {
    $scope.items.splice($scope.items.indexOf(item), 1);
  };

  $scope.items = [
    {
      id: 1
    },
    {
      id: 2
    },
    {
      id: 3
    },
    {
      id: 4
    },
    {
      id: 5
    },
    {
      id: 6
    },
    {
      id: 7
    },
    {
      id: 8
    },
    {
      id: 9
    },
    {
      id: 10
    }
  ];

})

.controller('ButtonsTabCtrl', function ($scope, $ionicPopup, $ionicActionSheet, $ionicModal) {
    $scope.showPopup = function () {
     $ionicPopup.alert({
       title: 'Popup',
       content: 'This is ionic popup alert!'
     });
    };
    $scope.showActionsheet = function () {
        $ionicActionSheet.show({
          titleText: 'Ionic ActionSheet',
          buttons: [
            {
              text: 'Facebook'
            },
            {
              text: 'Twitter'
            },
          ],
          destructiveText: 'Delete',
          cancelText: 'Cancel',
          cancel: function () {
            console.log('CANCELLED');
          },
          buttonClicked: function (index) {
            console.log('BUTTON CLICKED', index);
            return true;
          },
          destructiveButtonClicked: function () {
            console.log('DESTRUCT');
            return true;
          }
        });
    };
    $ionicModal.fromTemplateUrl('modal.html', function (modal) {
        $scope.modal = modal;
      }, {
        animation: 'slide-in-up'
      });
})

          

.controller('MenuCtrl', function($scope, $ionicSideMenuDelegate, $ionicModal) {
  $scope.toggleRight = function() {
    $ionicSideMenuDelegate.toggleRight();
  };
              
  $ionicModal.fromTemplateUrl('modal.html', function (modal) {
    $scope.modal = modal;
  }, {
    animation: 'slide-in-up'
  });
 })

  
 .controller('AppCtrl', function() {

  ionic.Platform.ready(function() {

  });

 })



.controller('NewsListController', function ($scope, $location) {
      
      $scope.news = [
 { id: 1, name: 'Nivel Principiante', material: "Material de trabajo preparatorio" },
   { id: 2, name: 'Nivel Intermedio', material: "material de nivel 1" },
   { id: 3, name: 'Nivel Avanzado', material: "material de nivel 2" }
        ];
      
      $scope.onSelectNews = function(n) {
        //$state.go('menu.detail', { NewsId: n.id });
        $location.url('/menu/detail/' + n.name);
      }
      
    })
   
.controller('NewsDetailController', function ($stateParams, $scope) {
      $scope.news = { 
        name: $stateParams.id
      };
   });

  </script>

</html>
